NEXTAUTH_SECRET=YuL2ZMtsSIRbCtYl5lohL3DxK8fUJHz7bEhRFRbqqy8=
NEXTAUTH_URL=http://localhost:3000
API_URL=http://localhost:1337
WASABI_ACCESS_KEY_ID=
WASABI_SECRET_ACCESS_KEY=
WASABI_BUCKET=
WASABI_REGION=
FB_ADMIN_TOKEN=
WEBHUSL_API_MASTER_KEY=vG2jmq9841FjSgfVUJtx0R4rlEyCSBe45yFjKYGC7pFmlikAxWma6A1ZBQHq
WEBHUSL_API_URL=http://localhost:8000/api/v1